{% extends 'Blog/base.html' %}
{% block content %}
  <h1 class='mb-4'>Welcome.</h1>
  <p class = 'lead mt-1'>Use this blog as a database for your favourite ideas!</p>
  <p class = 'lead'>Make a profile, add posts and view other's posts too. Click on any user's name to see only their posts!</p>
  {% if user.is_authenticated %}
    <p class='lead'>
      Ready to start?<a class = 'ml-2' href="{% url 'post-create' %}">Add a post!</a>
    </p>
  {% else %}
    <p class='lead'>
      Ready to start?
      <a class = 'ml-1' href="{% url 'register'%}">Sign Up</a>
      or
      <a class = 'ml-1' href="{% url 'login'%}">Login.</a>
    </p>
  {% endif %}


{% endblock content %}
