{% extends 'Blog/base.html' %}
{% block content %}
  <div class="input-group mb-3">
    <form class = "form-inline" action="{% url 'blog-home' %}" method="get">
      <input id= "searchinput" class = "form-control" name="q" type="text" placeholder="{{ query }}" input size='56'>
      <button class = 'btn btn-primary pull-right ml-2' type="submit">Submit</button>
      <button class = 'btn btn-danger pull-right ml-2' onclick="document.getElementById('myInput').value = ''" >Clear</button>
    </form>
  </div>
  {% if posts %}
    {% for post in posts%}
      <article class="media content-section">
        <img class = "rounded-circle article-img" src="{{post.author.profile.image.url}}">
        <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
  {% else %}
    <h2>No matching results. Try again.</h2>
  {% endif %}
{% endblock content %}
